* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #415d41;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #a8b8a8;
    font-weight: bold;
    text-decoration: underline;
    
}
.ooo {
    color: #ffffff;
}
.hero {
    text-align: center;
    padding: 100px;
    background-image: url('hero-image2.jpg');
    background-size:contain;
    color: #ffffff;
    text-decoration:overline;
}

.hero h1 {
    font-size: 48px;
    
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}



.product-display {
    padding: 50px;
    text-align: center;
    background-image: url('hero-imageeee.jpg');
    background-size:cover;
}

.product-list {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between products */
    align-items: center; /* Vertically aligns the items */
    flex-wrap: wrap; /* Ensures they wrap when screen size is smaller */
    gap: 20px; /* Optional: Adds space between items */

    
}
.product-list  {
    color: #ffffff;
}
.product-item {
    flex: 1 1 30%; /* Ensures each product takes up 30% of the container */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 40%;
}

.product-image {
    max-width: 100%; /* Ensures the image doesn't overflow */
    height: auto; /* Maintains aspect ratio */
    max-height: 400px; /* Restricts the height for consistency */
    object-fit: cover; /* Ensures the image fills the container nicely */
    display: block;
    margin: 0 auto; /* Centers the image */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #28a745;
    text-decoration: none;
}
.btn {
    padding: 2px 30px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}